*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Times,serif;
    color: white;
    background-color: black;
}
.header{
    padding: 20px;
    margin: 1px 0px;
    text-align: center;
}
.title{
    margin-bottom: 1px;
    font-size: 45px;  
    text-shadow: 5px 6px 10px white;
}
.header img{
    width:135px;
    height:170px;
    border-radius: 20px;
}
header h3{
    font-size: 23px;
}
.header p{
    font-size: 20px;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width:78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 1px;
}
.tribute q{
    text-align: center;
    font-size: 30px;
    align-items: center;
    justify-content: baseline;
}
.tribute img{
    border: 3px solid black;
    max-width: 100%;
}
.bio{
    margin: 20px auto;
    padding: 0px 0.5px;
    width:70%;
}
.bio h2{
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 5px 6px 10px white; 
}
.bio p{
    font-size: 18px;
    line-height: 1.4;
}
.bio hr{
    margin-top: 5px;
}